<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Params.Description }}">

    <title>{{ .Title }}: {{ .Params.SubTitle }}</title>

    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css?{{ now.Unix }}" rel="stylesheet">
  </head>
  <body>

    <header>
      <!-- To be hidden and replaced with CSS background -->
      <div class="background">
        <img alt="Konch Hero Image by Leda Vaneva" src="images/Konch_Hero_Leda-Vaneva.jpg">
      </div>

      <div class="wrapper">
        <div class="container">

          <div class="row">
            <div class="col-md-5">

              <div class="card my-5">
                <div class="card-body">
                  <h1 class="h1">{{ .Title }}</h1>
                  <p class="lead">{{ .Description }}</p>
                  <a
                    href="{{ .Params.Repository.URL }}"
                    class="btn btn-primary btn-lg">{{ .Params.Repository.CallToAction }}</a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </header>

    <main role="main">
      <div class="container my-5">

        {{ .Content }}

      </div> <!-- /.container -->
    </main>

    <footer class="bg-dark text-light py-5 mt-5">
      <div class="container">
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Copyright }} <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a></p>
      </div>
    </footer>

    <script src="libs/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
