html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

main img {
  width: 100% !important;
  height: auto;
}

a{
 color: #00aeb7;
}

a:hover{
  color:#262626;
}

header .background {
  display: none;
}

header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;

  background-image: url(../images/Konch_Hero_Leda-Vaneva.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

header .wrapper {
  display: table-cell;
  vertical-align: middle;
}

.btn-primary{
  background-color:#00aeb7;
  border-color:#00aeb7;
}
.btn-primary:hover{
  background-color:#262626;
  border-color:#262626;
}
@media (max-width: 40em) {
  .gallery-column {
      flex: 100%;
      max-width: 100%;
      padding: 15px;
      float: none;
  }
}
@media (max-width: 40em) {
  .featurette-image {
      margin:15px auto 15px;
  }
}


footer .partner-logos{
  text-align: center;
}

footer .partner-logos img{
  height: 5em;
  width: auto;
  margin:0 auto 1em;
  text-align: center;
}
